<% obj.each do |article| %>
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-light article-well">
        <div class="article-title card-header">
          <%= link_to article.title, article_path(article) %>
        </div>
        <div class="article-body card-body">
          <div class="row">
            <% if article.photo.exists? %>
              <div class="col-md-5">
                <%= image_tag article.photo.url(:medium), class: "art-thumb pullcenter" %>
              </div>
            <% end %>
            <div class="col-md-7 margintop20">
              <p class="art-description"><%= truncate(article.description, length: 100) %></p>
            </div>
          </div>
          <hr>
          <div class="row">
            <% if article.categories.any? %>
              <p class="col-md-8"><%= t('views.articles.cats') %>: <%= render article.categories %></p>
            <% end %>
            <% if article.price %>
              <p class="price col-md-4"><%= t('views.articleform.price') %>: <%= number_to_currency(article.price,:unit => "", :delimiter => ",") %> <%= t('views.articleform.rials') %></p>
            <% end %>
          </div>
        </div>
        <% if logged_in? && (current_user == article.user || current_user.admin?) %>
          <div class="article-actions textcenter">
            <%= link_to t('views.articles.edit'), edit_article_path(article), class: "btn btn-primary btn-sm" %>
            <%= link_to t('views.articles.delete'), article_path(article), method: :delete,
             data: {confirm: t('views.articles.deletemsg')},class: "btn btn-danger btn-sm" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
