
<%= render 'shared/errors', obj: @article %>


<div class="row">
  <div class="col-12">
    <%= form_for(@article, :html => {class: "form-horizontal", role: "form", multipart: true}) do |f| %>
      <div class="row">
        <div class="form-group col-md-6">
          <div class="control-label col-2">
            <%= f.label t('views.articleform.title') %>
          </div>
          <div class="col-8">
            <%= f.text_field :title, class: "form-control", placeholder: t('views.articleform.titleph'), autofocus: true %>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="exampleFormControlFile1"><%= t('views.articleform.photo') %></label>
          <%= f.file_field :photo, class: "form-control-file", id: "exampleFormControlFile1" %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-2">
          <%= f.label t('views.articleform.description') %>
        </div>
        <div class="col-10">
          <%= f.text_area :description, class: "form-control",rows: 6 , placeholder: t('views.articleform.body') %>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-8">
            <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
              <% cb.label(class: "checkbox-inline input-checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-10">
          <%= f.submit t('views.articleform.submit') , class: "btn btn-primary btn-lg" %>
        </div>
      </div>
    <% end %>
    <div class="col-2 offset-10">
      <%= link_to t('views.articleform.backtoarticles'), articles_path %>
    </div>
  </div>
</div>
