
<h2 class="hart"><%= @article.title %></h2>
<div class="col-10 offset-1 card card-body bg-light">
  <p><%= simple_format(@article.description) %></p>
</div>

<div class="article-actions">
  <% if logged_in? && current_user == @article.user %>
    <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-primary btn-sm" %> |
    <%= link_to "Delete this article", article_path(@article), method: :delete,
    data: {confirm: "Are you sure?"},class: "btn btn-danger btn-sm" %> |
    <% end %>
  <%= link_to "View all articles", articles_path, class: "btn btn-success btn-sm" %>
</div>
