<h1 class="hart"><%= t('views.categories.indexviewall') %></h1>

<div class="row">
  <div class="col-md-6 offset-3 center">
    <% @categories.each do |category| %>
      <div class="card">
        <div class="card-body">
          <div class="col-md-6 row catfontfix"><%= category.name %> ---></div>
          <div class="col-md-12 textcenter">
            <div class="category-actions">
                <%= link_to t('views.categories.edit'), edit_category_path(category), class: "btn btn-primary btn-sm" %> |
                <%= link_to t('views.categories.delete'), category_path(category), method: :delete,
                data: {confirm: t('views.categories.deletemsg')},class: "btn btn-danger btn-sm" %> |
                <%= link_to t('views.categories.viewarticles'), articles_path, class: "btn btn-success btn-sm" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
