
<div class="row">
  <%= render 'layouts/sidebar' %>

  <div class="article-main col-md-9">
    <h1 class="hart"><%= t('views.articles.cattitle') %> <%= @category.name %></h1>
    <%= render 'articles/article', obj: @category_articles %>

    <div class="pagnav row justify-content-center">
      <%= will_paginate @category_articles %>
    </div>
  </div>
</div>
