<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to t('views.nav.qali'), root_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-navitems">
      <li class="nav-item">
        <%= link_to t('views.nav.blog'), articles_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to t('views.nav.contactus'), new_contact_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to t('views.nav.about'), about_path, class: "nav-link" %>
      </li>


      <% if logged_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('views.nav.profile') %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to t('views.nav.edit'), edit_user_path(current_user), class: "dropdown-item" %>
            <%= link_to t('views.nav.view'), user_path(current_user), class: "dropdown-item" %>
          </div>
        </li>
        <% if current_user.admin? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= t('views.nav.actions') %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to t('views.nav.newp'), new_article_path, class: "dropdown-item" %>
              <%= link_to t('views.nav.newc'), new_category_path, class: "dropdown-item" %>
              <%= link_to t('views.nav.cats'), categories_path, class: "dropdown-item" %>
              <%= link_to t('views.contact.massages'), contacts_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to t('views.nav.users'), users_path, class: "dropdown-item" %>
            </div>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to t('views.nav.logout'), logout_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to t('views.nav.login'), login_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t('views.nav.signup'), signup_path, class: "nav-link" %>
        </li>
      <% end %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-language"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item textcenter" href="<%= url_for locale: 'en' %>">English</a>
          <a class="dropdown-item textcenter" href="<%= url_for locale: 'fa' %>"><%= t 'views.nav.persian' %></a>
        </div>
      </li>
    </ul>
    <%= form_tag(articles_path, :method => "get", id: "search-form", class: "searchform form-inline my-2 my-lg-0") do %>
      <%= text_field_tag :search, params[:search], placeholder: t('views.nav.search'), class: "form-control search" %>
      <%= submit_tag t('views.nav.search'), :name => nil, class: "btn btn-outline-warning my-2 my-sm-0 searchsub" %>
    <% end %>
  </div>
</nav>
